{{page-title "CountryList"}}

<h1>Country List</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Currency</th>
      <th>Capital</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.edges as |edge|}}
      <tr>
        <td>{{edge.node.id}}</td>
        <td><LinkTo  @route='country-detail' @model={{edge.node.id}}>{{edge.node.name}}</LinkTo></td>
        <td>{{edge.node.currency}}</td>
        <td>{{edge.node.capital}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button {{on "click" this.previousPage}} disabled={{this.isFirstPage}}>Previous</button>
<button {{on "click" this.nextPage}} disabled={{this.isLastPage}}>Next</button>

{{outlet}}
